services:
  nheek:
    build: .
    restart: unless-stopped
    ports:
      - 4000:3000
    image: "ghcr.io/nheek/nheek:latest"
    platform: linux/amd64
    volumes:
      - ./data:/app/data
    environment:
      - NODE_ENV=production
